<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCraze</title>
    <%-include ('../partials/home_partial.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
</head>

<body>
    <%-include("../partials/header.ejs")%>
    <div class="container">
        <%-include('../partials/carousel.ejs')%>
        <section class="movies" id="jump">
            <h2 class="heading">Movies</h2>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=0;i<10;i++){ %>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=data[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title"><a href="#">
                                        <a href="/<%=data[i].id%>/movie/show">
                                            <%=data[i].title%>
                                        </a>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=11;i<data.length;i++) {%>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=data[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title">
                                    <a href="/<%=data[i].id%>/movie/show">
                                        <%=data[i].title%>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
         
        </section>

        <section class="series" id="jump2">
            <h2 class="series_heading">Series</h2>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=0;i<10;i++){ %>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=tv[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <!-- <div class="star">
                                    <i class="fa fa-star"></i><span>7.4</span>
                                </div> -->
                                <div class="title">
                                        <a href="/<%=tv[i].id%>/series/show">
                                            <%=tv[i].name%>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=11;i<data.length;i++) {%>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=tv[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title"><a href="#">
                                        <%=tv[i].name%>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
        </section>
        <%-include('../partials/footer.ejs')%>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="/css/js/home.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <script>
            $('.owl-carousel').owlCarousel({
                margin: 15,
                nav: true,
                dots: false,
                navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                autoplay: false,
                responsive: {

                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        </script>
</body>

</html>