<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCraze</title>
    <%-include ('../partials/home_partial.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <%-include("../partials/header.ejs")%>
    <div class="container">
       
        <div class="swiper mySwiper ">
            <div class="swiper-wrapper">
                <div class="swiper-slide container_1">
                    <img src="../image/NWH.jpg" alt="">
                    <div class="home-text">
                         <span>Marvel Universe</span>
                        <h1>SpiderMan:<br>No way Home</h1>
                    </div>
                </div>
                <div class="swiper-slide container_1">
                    <img src="../image/slider1.jpg" alt="">
                    <div class="home-text">
                        <h1>
                           The Avengers
                        </h1>
                    </div>
                </div>
                <div class="swiper-slide container_1">
                    <img src="../image/AI.jpg" alt="">
                    <div class="home-text">
                        <h1>
                            Avengers:Infinity War
                        </h1>
                    </div>
                </div>
                <div class="swiper-slide container_1">
                    <img src="../image/A.jpg" alt="">
                    <div class="home-text">
                        <h1>
                            Avengers:Endgame
                        </h1>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

        <section class="movies" id="jump">
            <h2 class="heading">Movies</h2>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=0;i<10;i++){ %>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=data[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title"><a href="#">
                                        <a href="/<%=data[i].id%>/show">
                                            <%=data[i].title%>
                                        </a>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=11;i<data.length;i++) {%>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=data[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title"><a href="/<%=data[i].id%>/show">
                                        <%=data[i].title%>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
        </section>

        <section class="series" id="jump2">
            <h2 class="series_heading">Series</h2>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=0;i<10;i++){ %>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=tv[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title"><a href="#">
                                        <a href="/<%=tv[i].id%>/show">
                                            <%=tv[i].name%>
                                        </a>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
            <div class="carousel-wrapper">
                <div class="owl-carousel owl-theme">
                    <% for(let i=11;i<data.length;i++) {%>
                        <div class="item">
                            <div class="movie-item">
                                <img src="<%=image%>/<%=tv[i].poster_path%>" class="image">
                            </div>
                            <div class="movie-content">
                                <div class="title"><a href="#">
                                        <%=tv[i].name%>
                                    </a></div>
                            </div>
                        </div>
                        <% }%>
                </div>
            </div>
        </section>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="/css/js/home.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <script>
            $('.owl-carousel').owlCarousel({
                margin: 15,
                // nav: true,
                dots: false,
                navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
                autoplay: true,
                responsive: {

                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        </script>
</body>

</html>