<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <%- include('../partials/javascript.ejs') %> 
</head>
<body>
    <%-include('../partials/header.ejs')  %>
 
<section>
<div class="container">
    <div class="row">
        <% data.forEach(movie=>{ %> 
        <div class="col-md-2">
            <a href="/<%=movie.id%>/show" class="movie_image">
            <img src="<%=movie.movie_img%>" class="img-thumbnail">
            </a>
            <a href="/<%=movie.id%>/show">
            <p class="movie_title">
                <%=movie.title%>
            </p>
            </a>
        </div>
        <% }) %>
    </div>
</div>
</section>
<hr>
<section>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="../image/NWH.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-2">
            <img src="../image/FFH.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-2">
            <img src="../image/AI.jpg" class="img-thumbnail"> 
        </div>
        <div class="col-md-2">
            <img src="../image/A1.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-2">
            <img src="../image/A.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-2">
            <img src="../image/FFH.jpg" class="img-thumbnail">
        </div>
    </div>
</div>
</section>
<hr>
</body>
</html>                             