<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<!-- hello my name is RISHAV THALIYAL the best ub  the world  -->
<body>
    <%-include('../partials/header.ejs')%>
        <section class="movies_info">
            <div class="movie-container">
                <div class="grid-item">
                    <div class="movie_img_container">
                        <img src="<%=data.movie_img%>" alt="">
                    </div>
                    <div class="movie_info">
                        <table>
                            <tbody>
                                <tr>
                                    <td><strong>Title:</strong></td>
                                    <td>
                                        <%= data.title %>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <strong>Genre:</strong></td>
                                    <td>
                                        <%= data.genre %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Director:</strong></td>
                                    <td>
                                        <%= data.director %>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Release Year:</strong></td>
                                    <td>
                                        <%= data.release_year %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="grid-item-1">
                    <strong>Sypnosis:</strong>
                    <p>
                        <%=data.description %>
                    </p><br>
                    <hr><br>
                </div>
            </div>
        </section>
        <script src="/css/js/home.js"></script>
</body>

</html>