<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Design</title>
    <%-include ('../partials/home_partial.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">MovieCraze</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active"><a href="#">Home</a></li>
                    <li class="menu-list-item"><a href="#">Movies</a></li>
                    <li class="menu-list-item"><a href="/create">Create</a></li>
                    <li class="menu-list-item"><a href="#">Series</a></li>
                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="../image/user.png" alt="">
                <div class="profile-text-container">
                    <% if(name){%>
                        <span class="profile-text">
                            <%=name.username%>
                        </span>
                        <i class="fas fa-caret-down"></i>
                        <% } %>
                            <% if(!name){ %>
                                <span class="profile-text">Default</span>
                                <i class="fas fa-caret-down"></i>
                                <% } %>
                </div>
                <div class="profile-content">
                    <li class="content-item"><a href="#">Profile</a></li>
                    <li class="content-item"><a href="/user/logout">Log Out</a></li>
                    <% if(!name) {%>
                        <li class="content-item"><a href="/user/login">Log In</a></li>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-1.jpg');">
                <img class="featured-title" src="<%=data[0].movie_img%>" alt="">
                <button class="featured-button">WATCH</button>
            </div> -->
        <div class="swiper mySwiper ">
            <div class="swiper-wrapper">
                <div class="swiper-slide container_1">
                    <img src="<%=data[0].movie_img%>" alt="">
                    <div class="home-text">
                        <h1><%=data[0].title%></h1>
                    </div>
                </div>
                <div class="swiper-slide container_1">
                    <img src="../image/slider1.jpg" alt="">
                </div>
                <div class="swiper-slide container_1">
                    <img src="../image/AI.jpg" alt="">
                </div>
                <div class="swiper-slide container_1">
                    <img src="../image/A.jpg" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

        <section class="movies">
        <h2 class="heading">Movies</h2>
        <div class="carousel-wrapper">
            <div class="owl-carousel owl-theme">
                <% data.forEach(movie=>{ %>
                    <div class="item">
                        <div class="movie-item">
                            <img src="<%=movie.movie_img%>" class="image">
                        </div>
                        <div class="movie-content">
                            <div class="title"><a href="#">
                                   <a href="/<%=movie.id%>/show"><%=movie.title%></a>
                                </a></div>
                        </div>
                    </div>
                    <% })%>
            </div>
        </div>
        </section>

        <section class="series">
            <h2 class="series_heading">Series</h2>
        <div class="carousel-wrapper">
            <div class="owl-carousel owl-theme">
                <% data.forEach(movie=>{ %>
                    <div class="item">
                        <div class="movie-item">
                            <img src="<%=movie.movie_img%>" class="image">
                        </div>
                        <div class="movie-content">
                            <div class="title"><a href="#">
                                    <%=movie.title%>
                                </a></div>
                            <div class="rating">
                                <strong>Rating:</strong>
                                <%for(i=1;i<5;i++){%>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <% })%>
            </div>
        </div>

        </section>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="/css/js/home.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <script>
            $('.owl-carousel').owlCarousel({
                margin: 15,
                // nav: true,
                dots: false,
                navText: ["<div class='nav-button owl-prev'>‹</div>", "<div class='nav-button owl-next'>›</div>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        </script>
</body>

</html>